<!--Template by using mustache-->

<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>This is the home page!</h1>
    <img src="/images/node-express.jpeg" alt="node-express image"/>
</body>
</html>